In [34]:
# Importing Libraries
import selenium
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
##Connect to the driver
driver = webdriver.Chrome(r"C:/Users/swati/Downloads/chromedriver_win32/chromedriver.exe")
time.sleep(3)

# Opening the homepage wikipedia
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)
# Asking the user to input the keywords he/she wants to search

<ipython-input-4-234b15b0d408>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/swati/Downloads/chromedriver_win32/chromedriver.exe")

In [5]:
## Maximixe window
driver.maximize_window()

In [75]:
##Making empty lists:
Rank=[]
Video_Name=[]
Uploader=[]
Views=[]
Upload_Date=[]

## Scrapping Rank:-

rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
#print(Rank[:30])    

## Scrapping Video_Name:

name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]/a")
for i in name:
    Video_Name.append(i.text)
    
##print(Video_Name)    
    
##Scrapping Uploader:
uploader=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")

for i in uploader:
    Uploader.append(i.text)

#print(Uploader[:30]) 

## Scrapping Views:

views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")

for i in views:
    Views.append(i.text)

#print(Views[:30]) 

## Scrapping upload date:

date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")

for i in date:
    Upload_Date.append(i.text)

#print(Upload_Date[:30]) 

## Making DataFrame:

Most_Viewed_df =pd.DataFrame({'Rank':Rank[:30],
                              'Video Name':Video_Name[:30],
                              'Uplaoder':Uploader[:30],
                              'Views':Views[:30],
                              'Upload Date':Upload_Date[:30]
    
                             })



Most_Viewed_df
## Setting rank as index:-
Most_Viewed_df.set_index('Rank')

,Video Name,Uplaoder,Views,Upload Date
Rank,,,,
1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,9.98,"June 17, 2016"
2.,Despacito,Luis Fonsi,7.70,"January 12, 2017"
3.,Johny Johny Yes Papa,LooLoo Kids,6.09,"October 8, 2016"
4.,Shape of You,Ed Sheeran,5.58,"January 30, 2017"
5.,See You Again,Wiz Khalifa,5.38,"April 6, 2015"
6.,Uptown Funk,Cocomelon – Nursery Rhymes,4.84,"May 2, 2018"
7.,Gangnam Style,Miroshka TV,4.55,"February 27, 2018"
8.,Dame Tu Cosita,Get Movies,4.48,"January 31, 2012"
9.,Sugar,Mark Ronson,4.42,"November 19, 2014"
10.,Sorry,ChuChu TV,4.40,"March 6, 2014"
11.,Roar,Psy,4.30,"July 15, 2012"
12.,Counting Stars,El Chombo,3.79,"April 5, 2018"
13.,Thinking Out Loud,Maroon 5,3.62,"January 14, 2015"
14.,Girls Like You,Justin Bieber,3.50,"October 22, 2015"
15.,Faded,Katy Perry,3.50,"September 5, 2013"
16.,Dark Horse,Cocomelon – Nursery Rhymes,3.48,"May 24, 2018"
17.,Axel F,OneRepublic,3.48,"May 31, 2013"
18.,Let Her Go,Ed Sheeran,3.39,"October 7, 2014"
19.,Bailando,Maroon 5,3.21,"May 31, 2018"
20.,Lean On,Alan Walker,3.21,"December 3, 2015"
21.,Shake It Off,Katy Perry,3.20,"February 20, 2014"
22.,Perfect,Crazy Frog,3.17,"June 16, 2009"
23.,Waka Waka (This Time for Africa),Passenger,3.15,"July 25, 2012"
24.,Mi Gente,Enrique Iglesias,3.15,"April 11, 2014"
25.,Pinkfong Baby Shark - Kids' Songs & Stories,Major Lazer,3.15,"March 22, 2015"
26.,Luis Fonsi,Taylor Swift,3.13,"August 18, 2014"
27.,Wiz Khalifa,Cocomelon – Nursery Rhymes,3.06,"June 25, 2018"
28.,Psy,Ed Sheeran,3.06,"November 9, 2017"
29.,Justin Bieber,Shakira,3.03,"June 4, 2010"
30.,Lady Gaga,J Balvin,3.02,"June 29, 2017"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [78]:
## Connect to the url
url = "https://www.bcci.tv/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

## Getting the url of International page:-
url_international = driver.find_element_by_xpath("//ul[@class='nav navbar-nav  align-items-center']/li[2]/a")
driver.get(url_international.get_attribute('href'))

In [111]:
## making empty lists 
Match_Title=[]
series=[]
Place=[]
Date=[]
Time=[]
while(True):
    ## Scrapping Match Title :
    title=driver.find_elements_by_xpath("//div[@class='tab-inner-content']/div/div/div/div/h5[2]/span")
    for i in title:
        Match_Title.append(i.text)
#print(Match_Title)  
   ## Scrapping Series:
    ser = driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']/div")
    for i in ser:
        series.append(i.text)
    for i in series:
        place =i.split("-")[1]
        series_no =i.split("-")[0]
        #print(series_no)
   # for p in series:
        #place = p.spilt("-")[0]
        
    #time.sleep(1)
    ## Scrapping Date
    date = driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5")
    for i in date:
        Date.append(i.text)
    #time.sleep(1)
     ## Scrapping Time:
    time_match = driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']/h5")
    for i in time_match:
        Time.append(i.text)
    #time.sleep(1)    
    try:
        more_fixture = driver.find_element_by_xpath("//div[@class='col-lg-12 col-md-12 col-sm-12']/button")
        
        more_fixture.click()
        time.sleep(5)
    except:
        break
 ##Scrapping       
# for i in series :
#     print(i.split("-")[1])    
#     Place.append(ser[i].split("-")[1])


match_df = pd.DataFrame({'Match Title':Match_Title,
                         'Series':series_no ,
                         'Place' :place,
                         'Date':Date,
                         'Time':Time
    
                        })
match_df

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,1st T20I,"MA Chidambaram Stadium, Chennai",11 JAN 2022,2:00 PM IST
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"MA Chidambaram Stadium, Chennai",19 JAN 2022,2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"MA Chidambaram Stadium, Chennai",21 JAN 2022,2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"MA Chidambaram Stadium, Chennai",23 JAN 2022,2:00 PM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",6 FEB 2022,9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",9 FEB 2022,9:30 AM IST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",12 FEB 2022,9:30 AM IST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",15 FEB 2022,7:30 PM IST
8,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",18 FEB 2022,7:30 PM IST
9,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",20 FEB 2022,7:30 PM IST
10,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",25 FEB 2022,9:30 AM IST
11,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",5 MAR 2022,9:30 AM IST
12,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",13 MAR 2022,7:30 PM IST
13,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",15 MAR 2022,7:30 PM IST
14,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",18 MAR 2022,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [117]:
## Connect to the url
url = "https://www.guru99.com/"
driver.get(url)

driver.maximize_window()

time.sleep(2)
## scrapping the selenium link
driver.find_element_by_xpath("//ul[@class='menu1']/li[3]").click()
## Getting the Selenium Exception Handling link
driver.get(driver.find_element_by_xpath("//table[@class='table'][5]/tbody/tr[34]/td/a").get_attribute('href'))

In [124]:
## Empty lists :
Name=[]
Description=[]
##Scrapping Exception Name:
name = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
#print(Name)
## Scrapping Exception Description
desc = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    Description.append(i.text)
#print(Description)  

exception_df = pd.DataFrame({'Name':Name,
                             'Description':Description
    
                            })

exception_df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

In [132]:
## Connect to the url
url = "http://statisticstimes.com/"
driver.get(url)

driver.maximize_window()

time.sleep(2)
## Getting link for India from Economy section
link =driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute('href')
driver.get(link)

In [133]:
## Getting link for state wise GDP:
link_state_gdp =driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").get_attribute('href')
driver.get(link_state_gdp)

In [145]:
## Empty lists:
Rank =[]
State=[]
GSDP_CP_19_20 =[]
GSDP_CP_18_19=[]
GSDP_2011_12_19_20=[]
GSDP_2011_12_18_19=[]
Share=[]
GDP=[]

## Scrapping Rank:
rank = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
#print(Rank[:33]) 


## Scrapping state:
state =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
#print(State[:33])  

## Scrapping GSDP at current price of 2019-2020
gsdp1 =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]")
for i in gsdp1:
    GSDP_CP_19_20.append(i.text)
#print(GSDP_CP_19_20)   

## Scrapping GSDP at current price of 2018-2019

gsdp2 =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]")
for i in gsdp2:
    GSDP_CP_18_19.append(i.text)
#print(GSDP_CP_18_19[:33])  

## Scrapping Share
share =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)

#print(Share[:33])  

## Scrapping GDP
gdp = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)
#print(GDP[:33]) 

## Scrapping GSDP at 2011 prices for 2019-2020
gsdp3 =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[7]")
for i in gsdp3:
    GSDP_2011_12_19_20.append(i.text)
#print(GSDP_2011_12_19_20[:33]) 

## Scrapping GSDP at 2011 prices for 2018-2019
gsdp4 =driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[8]")
for i in gsdp4:
    GSDP_2011_12_18_19.append(i.text)
#print(GSDP_2011_12_18_19[:33]) 

gdp_df = pd.DataFrame({'Rank':Rank[:33],
                       'State':State[:33],
                       'GSDP at Current Price(19-20)':GSDP_CP_19_20[:33],
                       'GSDP at Current Price(18-19)':GSDP_CP_18_19[:33],
                       'Share':Share[:33],
                       'GDP':GDP[:33],
                       'GSDP at 2011 Price(19-20)':GSDP_2011_12_19_20[:33],
                       'GSDP at 2011 Price(18-19)':GSDP_2011_12_18_19[:33]
    
                      })

gdp_df

,Rank,State,GSDP at Current Price(19-20),GSDP at Current Price(18-19),Share,GDP,GSDP at 2011 Price(19-20),GSDP at 2011 Price(18-19)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [52]:
##Connect to the driver
driver = webdriver.Chrome(r"C:/Users/swati/Downloads/chromedriver_win32/chromedriver.exe")
time.sleep(3)

## Connect to the url
url = "https://github.com/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

In [53]:
## Scrapping Explore:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")

#print(explore.get_attribute('href'))
try:
    explore.click()
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [54]:

# ## scrapping Trending:

trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [55]:
## Scrapping Details:-
##Scrapping Repository Title:-
names=[]
try:
    name = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('NA')
names = names[:22]
print(len(names))


## Scrapping Description
Description=[]
try:
    desc = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in desc:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('NA')
    
Description = Description[:22]

## Scrapping language

Language=[]
try:
    lang = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div/span[1]/span[2]")
    for i in lang:
        Language.append(i.text)
except NoSuchElementException:
    Language.append('-')

print(len(Language))
    
## Scrapping urls to get contributor's count:    
urls=[]
match_page=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
for i in match_page:
    urls.append(i.get_attribute('href'))
    
print(len(urls))
    
    
counts=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        list=count.text.split('\n')
        for j in list:
            if j.split()[0]=='Contributors':
                counts.append(j.split()[1])
                break
        else:
            counts.append('N/A')
except NoSuchElementException:
    counts.append('N/A')
counts = counts[:22]  

print(len(counts))




df = pd.DataFrame({"Repository Title":names[:22],
                   "Repository description":Description[:22],
                   "Contributors count":counts[:22],
                  "Language used":Language[:22]})
df

22
23
25
22

,Repository Title,Repository description,Contributors count,Language used
0,input-output-hk / plutus-pioneer-program,Generate massive amounts of fake data in the b...,12,Haskell
1,faker-js / faker,get colors in your node.js console,257,JavaScript
2,Marak / colors.js,A repo to automatically generate and keep upda...,44,JavaScript
3,cybersecsi / RAUDI,浙江大学课程攻略共享计划,5,Python
4,QSCTech / zju-icicles,"It is my belief that you, the postgraduate stu...",85,HTML
5,BoltzmannEntropy / interviews.ai,A refreshingly simple data-driven game engine ...,N/A,Rust
6,bevyengine / bevy,The Plutus application platform,324,Haskell
7,input-output-hk / plutus-apps,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",110,Python
8,521xueweihan / HelloGitHub,30 days of JavaScript programming challenge is...,11,JavaScript
9,Asabeneh / 30-Days-Of-JavaScript,"WordPress Develop, Git-ified. Synced from git:...",18,PHP
10,WordPress / wordpress-develop,JuiceFS is a distributed POSIX file system bui...,74,Go
11,juicedata / juicefs,Code for Data Engineer Zoomcamp course,45,HCL
12,DataTalksClub / data-engineering-zoomcamp,GitHub Actions virtual environments,4,PowerShell
13,actions / virtual-environments,不知名大佬备份,182,JavaScript
14,shufflewzc / faker2,All Algorithms implemented in Java,28,Java
15,TheAlgorithms / Java,A Project dedicated to making GPU Partitioning...,338,PowerShell
16,jamesstringerparsec / Easy-GPU-PV,"30 Günde Javascript, orijinali ""30 days of cha...",2,C++
17,tayfunerbilen / 30-gunde-javascript,LevelDB is a fast key-value storage library wr...,N/A,C
18,google / leveldb,Sysmon event simulation utility which can be u...,57,TypeScript
19,ScarredMonk / SysmonSimulator,Apache Superset is a Data Visualization and Da...,N/A,C
20,apache / superset,OpenGL 4.6 on Metal,711,Go
21,openglonmetal / MGL,Never worry about losing your code. Written in Go,5,Java

In [56]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [188]:
##Connect to the driver
driver = webdriver.Chrome(r"C:/Users/swati/Downloads/chromedriver_win32/chromedriver.exe")
time.sleep(3)


## Connect to the url
url = "https:/www.billboard.com/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

In [189]:
## Scrapping Charts 
driver.find_element_by_xpath("//a[contains(text(), 'Charts')]").click()

In [190]:
##Scrapping The Hot 100
driver.find_element_by_xpath("//a[contains(text(),'The Hot 100')]").click()

In [196]:
## Making empty lists:
Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peek_Rank=[]
Weeks_On_Board=[]

## Scrapping Song Name:
song = driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
for i in song:
    Song_Name.append(i.text)
    
#print(Song_Name)

## Scrapping Artist Name:
artist_name = driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/span")
for i in artist_name:
    Artist_Name.append(i.text)
#print(Artist_Name)  

#print("--------------Artist_Name-------------------")

Name_Artist = Artist_Name[0::4]

#print(Name_Artist)

#print("--------------Last Week Rank-------------------")


Last_Week_Rank = Artist_Name[1::4]
#print(Last_Week_Rank)

#print("-----------Peek Rank---------------------")

Peek_Rank = Artist_Name[2::4]
#print(Peek_Rank)

#print("-------------Weeks_On_Board-------------------------")

Weeks_On_Board = Artist_Name[3::4]
#print(Weeks_On_Board)


billboard_df = pd.DataFrame({'Song Name':Song_Name,
                             'Artist Name':Name_Artist,
                             'Last Week Rank':Last_Week_Rank,
                             'Peek Rank':Peek_Rank,
                             'Weeks on Board':Weeks_On_Board
    
                             })

billboard_df

,Song Name,Artist Name,Last Week Rank,Peek Rank,Weeks on Board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2
...,...,...,...,...,...
95,Me Or Sum,"Nardo Wick, Lil Baby & Future",-,86,2
96,I Love You So,The Walters,-,97,1
97,Bad Man (Smooth Criminal),Polo G,-,49,6
98,Never Wanted To Be That Girl,Carly Pearce & Ashley McBryde,-,99,1
99,Just About Over You,Priscilla Block,-,81,7

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [18]:


##Connect to the driver
##driver = webdriver.Chrome(r"C:/Users/swati/Downloads/chromedriver_win32/chromedriver.exe")
#time.sleep(3)

url='https://www.naukri.com/'
driver.get(url)
try:
    driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[4]/div/div[2]/div[2]/div[1]/div/div[1]/div').click()#close pop-up
except:
    pass
driver.find_element_by_xpath("//input[@class='suggestor-input ']").send_keys("Data Science")
driver.find_element_by_xpath("//div[@class='qsbSubmit']").click() #click on search

In [19]:
## Scrapping Recruiters
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div').click()

In [20]:
driver.switch_to.window(driver.window_handles[1])

In [21]:
## Scrapping Search Bar:
driver.find_element_by_xpath("//input[@placeholder='Skills, Designations, Companies']").send_keys('Data Science')

In [22]:
## Scrapping Search button:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [29]:
## Scrapping Names:-
names=[]
try:
    name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('-')
print(len(names) )
## Scrapping Place:
Place=[]
try:
    place = driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[2]/small")
    for i in place:
        Place.append(i.text)
        
except NoSuchElementException:
    Place.append('N/A')
print(len(Place) )
    
## Scrapping Desiganation :
Desgination=[]
try:
    desg = driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in desg:
        Desgination.append(i.text)
        
except NoSuchElementException:
    Desgination.append('-')
print(len(Desgination) )

##Scrapping skills:
Skills=[]
try:
    skill = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for i in skill:
        Skills.append(i.text)
        
except NoSuchElementException:
    Skills.append('-')
print(len(Skills) )
    
##Scrapping Company Name:
Company =[]
try:
    company=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append("-")
    
print(len(Company) )
        
naukri_df = pd.DataFrame({'Name':names[:48],
                          'Designation':Desgination[:48],
                          'Company':Company[:48],
                          'Skill':Skills[:48],
                          'Location':Place[:48]
    
                         })  


naukri_df

50
48
50
50
50

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Hyderabad / Secunderabad
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [247]:
## Connect to the url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

In [250]:
## Making empty lists:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

## scrapping Book name:
name = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in name:
    Book_name.append(i.text)
#print(Book_name)  

## Scrapping Author Name:
author = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author_name.append(i.text)
#print(Author_name)    
    

## scrapping Volumes_sold:
vol_sold = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol_sold:
    Volumes_sold.append(i.text)
    
## scrapping Publisher
publisher =driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)

## scrapping Genre
genre =driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)
    
books_df = pd.DataFrame({'Book Name':Book_name,
                         'Author Name':Author_name,
                         'Volumes sold':Volumes_sold,
                         'Publisher':Publisher,
                         'Genre':Genre
    
                         })    

books_df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [251]:
## Connect to the url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

In [261]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

## Scrapping Name:

name = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
for i in name:
    Name.append(i.text)
#print(Name) 

span =driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in span:
    Year_span.append(i.text)
##print(Year_span)   

## scrapping Genre
genre =driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
##print(Genre)  

## Scrapping Run time:
run_time =driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_time:
    Run_time.append(i.text)
#print(Run_time) 

## scrapping ratings:
rate = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rate:
    Ratings.append(i.text)
#print(Ratings)

## scrapping Votes
vote =driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in vote:
    Votes.append(i.text)
#print(Votes) 

Votes_count =Votes[1::2]
#print(len(Votes_count))

tvseries_df =pd.DataFrame({'Name':Name,
                           'Year span':Year_span,
                           'Genre':Genre,
                           'Run time':Run_time,
                           'Ratings':Ratings,
                           'Votes':Votes_count
    
                          })

tvseries_df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,929,244"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"950,654"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,728"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,139"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,393"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,145"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,939"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,898"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,241"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,780"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [263]:
## Connect to the url
url = "https://archive.ics.uci.edu/"
driver.get(url)

driver.maximize_window()

time.sleep(2)

In [265]:
data_set_link=driver.find_element_by_xpath("//table/tbody/tr/td[2]/span[2]/a").get_attribute('href')

driver.get(data_set_link)

In [274]:
Dataset_Name =[]
name = driver.find_elements_by_xpath("//table/tbody/tr/td[2]/p/b/a")
for i in name:
    Dataset_Name.append(i.text)
    
#print(len(Dataset_Name))

## Scrapping data type:
Type_Data=[]
data_type = driver.find_elements_by_xpath("//table/tbody/tr/td[2]/p[@class='normal']")
try:
    for i in data_type:
            Type_Data.append(i.text)
except:
    Type_Data.append("-")
    
        
#print(len(Type_Data[1::2]))    

Task =[]
task = driver.find_elements_by_xpath("//table/tbody/tr/td[3]/p[@class='normal']")

for i in task:
    Task.append(i.text)
    
print(len(Task))    
#print(Task)  

## Scrapping Attribute type
Attribute_type=[]

Attr_type = driver.find_elements_by_xpath("//table/tbody/tr/td[4]/p[@class='normal']")

for i in Attr_type:
    Attribute_type.append(i.text)
    
print(len(Attribute_type))

## Scrapping number of instances:
No_of_instances=[]
no_instances = driver.find_elements_by_xpath("//table/tbody/tr/td[5]/p[@class='normal']")
for i in no_instances:
    No_of_instances.append(i.text)
print(len(No_of_instances))    
        
#Scrapping No of Attribute:
No_of_Attribute=[]
no_attribute =driver.find_elements_by_xpath("//table/tbody/tr/td[6]/p[@class='normal']")
for i in no_attribute:
    No_of_Attribute.append(i.text)
print(len(no_attribute))    
    
## Scrapping Year
Year=[]
year = driver.find_elements_by_xpath("//table/tbody/tr/td[7]/p[@class='normal']")
for i in year:
    Year.append(i.text)
print(len(year))    
    
Dataset_df = pd.DataFrame({'Dataset Name':Dataset_Name,
                           'Data Type':Type_Data[1::2],
                           'Task':Task[:622],
                           'Attribute Type':Attribute_type,
                           'No of Instances':No_of_instances,
                           'No of Attribute':No_of_Attribute,
                           'Year':Year
    
                           }) 

Dataset_df

623
622
622
622
622

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Turkish Music Emotion Dataset,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Maternal Health Risk Data Set,Classification,,1014,7,2020
620,Room Occupancy Estimation,Room Occupancy Estimation,Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Image Recognition Task Execution Times in Mobi...,Regression,Real,4000,2,2021